<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
    <h1>Хуй</h1>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <script src="/js/main.js"></script>
</body>
</html>